@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Black: #181719;
    
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: #FFF;
    
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--Black);
    font-size: 1.6rem;
}

body, html {
    font-size: 62.5%;
}

body {
    background-color: var(--White);
    margin: 0 auto;
    list-style-type: none;
    max-width: 1440px;
    font-family: 'Public Sans', sans-serif;
}

h1, h2, h3 {
    font-size: 3.2rem;
}

/* --------------- SECTION TOP --------------- */
.top {
    background-color: var(--White);
    position: relative;
    max-width: 1440px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem;
}

.top .logo .color{
    fill: var(--Black);
}

#moon-desktop {
    margin-left: 0rem;
}

.top ul {
    display: flex;
}

#dark-light-mode {
    position: absolute;
    left: 1rem;
}

.top nav ul li:last-child {
    text-align: center;
}

.top nav ul li:last-child i {
padding: 0 .5rem;
}

.top ul li a {
    color: var(--GrayishBlue);
    padding: 1.5rem 1rem;
}

.top ul li a:hover {
    color: var(--Black);
    border-bottom: 5px solid var(--LimeGreen);
    border-image: linear-gradient(to right, var(--LimeGreen), var(--Bright-Cyan));
    border-image-slice: 1;
}

.button {
    color: var(--White);
    background-image: linear-gradient(to right, var(--LimeGreen), var(--Bright-Cyan));
    padding: 1rem 2rem;
    border-radius: 50px;
}

.button:hover {
    opacity: .75;
}

.burger-menu {
    display: none;
}

/* --------------- SECTION ILLUSTRATION --------------- */


.illustration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15rem;
}

.illustration h2 {
    font-weight: 500;
    font-size: 4.0rem;
}

.illustration p {
    margin: 1.5rem 0 3.5rem 0;
    color: var(--GrayishBlue);
}

.background {
    background-image: url(images/bg-intro-desktop.svg);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: -10rem;

}

.background img {
    width: 115%;
    margin-right: 120rem;
    padding-left: 15rem;
    overflow: hidden;
}

/* --------------- SECTION ADVANTAGES --------------- */
.advantages {
    padding: 1rem 15rem;
}

.advantages div.primeira {
    width: 50%;
}

.advantages h3, .advantages h4 {
    font-weight: 300;
}

.advantages div p {
    color: var(--GrayishBlue);
    line-height: 2.5rem;
    margin-top: 1.5rem;
}

.advantages-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, minmax(200px, 270px));
    margin-top: 4rem;
}

.advantages-grid img {
    margin-bottom: 1.5rem;
}

/* --------------- SECTION ARTICLES --------------- */
.articles {
    padding: 1rem 15rem;
}

.articles h3 {
    font-weight: 300;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 270px));
    gap: 3rem;
}

.articles-grid h4 {
    font-weight: 300;
    margin: 1rem 0;
}

.articles-grid p {
    color: var(--GrayishBlue);
}

.articles-grid img {
    width: 100%;

}

.grid-item div {
    padding: 0 1rem;
    margin-top: 2rem;
}

.grid-item span {
    font-size: 1.2rem;
    color: var(--GrayishBlue);
}

/* --------------- FOOTER --------------- */
.footer {
    margin-top: 15rem;
    background-color: var(--DarkBlue);
    padding: 3rem 15rem;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #FFF;
}

footer p {
    color: var(--GrayishBlue);
    margin-top: 2rem;
}

footer ul li {
    padding: 0 0 .5rem 0;
}

footer ul li a:hover {
    color: var(--LimeGreen);
}

.menu-button {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}


.logo-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socials svg {
    margin: 0 .5rem;
}

.socials svg:hover path {
    cursor: pointer;
    fill: var(--LimeGreen);
}

.button-copy {
    text-align: right;
    margin-top: 1rem;
}

@media (max-width: 1200px) {
    .articles, .advantages, .top {
        padding: 1rem 10rem;
    }

    .footer {
        padding: 3rem 10rem;
    }

    .illustration {
        padding-left: 10rem;
    }

    .illustration h2, .illustration p {
        padding: 1rem 10rem;
    }
    /* --------------- SECTION ADVANTAGES --------------- */
    .advantages-grid {
        gap: 5rem;
        grid-template-columns: 1fr 1fr;
    }

    .advantages div.primeira {
        width: 100%;
    }

    .advantages .primeira, .advantages-grid div {
        text-align: center;
    }

    
/* --------------- SECTION ARTICLES --------------- */
    .articles-grid {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }
    
}

@media (max-width: 980px) {
    html, body {
        font-size: 55%;
    }

    .articles, .advantages, .top {
        padding: 1rem 5rem;
    }

    .footer {
        padding: 3rem 5rem;
    }

    .illustration {
        padding-left: 5rem;
    }

    .illustration h2, .illustration p {
        padding: 1rem 5rem;
    }

    /* --------------- SECTION ADVANTAGES --------------- */
    
    
    /* --------------- FOOTER --------------- */
    .menu-button {
        gap: 5rem;
    }
}

@media (max-width: 720px) {
    /* --------------- SECTION TOP --------------- */
    .top nav, .top a.button {
        display: none;
    }

    .top {
        align-items: center;
        position: sticky;
        top: 0;
    }

    #dark-light-mode {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .burger-container {
        background-color: #000;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 5.85rem;
    }
    
    .burger-navigation {
        border-radius: 5px;
        background-color: var(--White);
        width: 87.5vw;
        height: 50vh;
        position: absolute;
        display: none;
        justify-content: center;
        top: 10vh;
        left: 6vw;
    }

    .burger-icon svg g {
        fill: var(--Black);
    }

    .burger-navigation ul {
        flex-direction: column;
        align-self: center;
    }

    .burger-navigation ul li:last-child {
        text-align: center;
    }

    .burger-navigation ul li:last-child i {
    padding: 0 1rem;
    }

    .burger-navigation ul li a {
        display: block;
        font-size: 2.4rem;
        color: var(--Black);
        text-align: center;
        padding: 1rem 3rem;
    }



    /* --------------- SECTION ILLUSTRATION --------------- */
    .illustration {
        flex-direction: column-reverse;
        padding: 0;
        margin-bottom: 15rem;
    }

    .illustration h2, .illustration p {
        text-align: center;
    }

    .illustration div:first-child {
        text-align: center;
    }

    .background {
        background-image: url(images/bg-intro-mobile.svg);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
        margin-top: -30rem;
    }
    
    .background img {
        width: 100%;
        margin-right: 0;
        padding-left: 0;
        overflow: auto;
    }
    
    /* --------------- SECTION ADVANTAGES --------------- */
    .advantages-grid {
        gap: 5rem;
        grid-template-columns: 1fr;
    }

    .advantages div.primeira {
        width: 100%;
    }

    .advantages .primeira, .advantages-grid div {
        text-align: center;
    }

    /* --------------- SECTION ARTICLES --------------- */
    .articles h3{
        text-align: center;
    }

    .articles-grid {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    /* --------------- FOOTER --------------- */
    .footer, .logo-socials, .menu-button, .button-copy{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
    }

    .button-copy, .socials, .first-ul, .second-ul {
        margin: 2rem 0;
    }

    .first-ul {
        margin-bottom: 0;
    }

    .second-ul {
        margin-top: 0;
    }

    .footer p {
        margin-top: 4rem;
    }

}

@media (max-width: 620px) {
    .background {
        margin-top: -20rem;
    
    }

}

@media (max-width: 480px) {
    html, body {
        font-size: 50%;
    }

    .illustration h2, .illustration p {
        padding: 1rem 3rem;
    }

    .articles, .advantages, .top {
        padding: 1rem 3rem;
    }

    .footer {
        padding: 3rem 3rem;
    }


}